/**
*
* A place for overriding the default Bootstrap variables
*
 **/

// Variables
//
// Color system

$purple: #8563ca;
$brown: #caa863;
$green: #a8ca63;
$red: #ca7463;


$primary: $purple;
$secondary: $brown;
$light: $gray-100;
$dark: $gray-900;

